
.jumbotron-fluid {
    background-image: linear-gradient(-90deg, #cc8e58, #18171d 30%, #18171d 100%);
}

.search-bar {
    border: 1px solid rgba(168, 184, 201, 1);
    box-shadow: 0px 0px 6px 0px rgba(168, 184, 201, 1);
}

.details-btn > div { 
    color: rgba(168, 184, 201, 1);
    border: 1px solid rgba(168, 184, 201, 1);
}

.transaction-box > .footer > div:nth-child(3) {
    color: rgba(168, 184, 201, 1);
}

.navbar {
    background-image: linear-gradient(-90deg, #cc8e58, #18171d 30%, #18171d 100%);
}

.load-more{
    border: 1px solid #cc8e58;
}

.search-bar {
    border: 1px solid #cc8e58;
    box-shadow: #cc8e58 0px 0px 6px 0px;
}